@media screen and (max-width: 768px) {
    .homepage, .team-selection, .results {
        width: 90%;
        font-size: 12px;
    }
    .table-cell {
        border: 1px solid #000;
        border-radius: 10px;
        grid-template-areas: 
        "a a b c"
        "d e b c";
        grid-template-columns: 35% 35% 15% 15%;
        justify-items: center;
        align-items: center;
        .name {
            grid-area: a;
            margin-bottom: 10px;
        }
        .pos {
            grid-area: d;
        }
        .country {
            grid-area: e;
        }
        .price {
            grid-area: b;
        }
        .click {
            grid-area: c;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(-0.5turn);
    }
    to {
        transfrom: rotate(0.5turn);
    }
}

.bg {
    min-height: 100vh;
}

.homepage {
    margin: 50px auto;
    padding: 20px;
    width: 60vw;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 25px;
    }
}

.team-selection {
    width: 60vw;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    select {
        margin: 0 10px 20px;
    }
    button {
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
    button.add {
        background-color: lightgreen;
    }
    button.add:hover {
        background-color: green;
    }
    button.add:disabled {
        background-color: grey;
    }
    p {
        font-size: 1.2em;
    }
    .error {
        color: red;
    }
}

.results {
    width: 60vw;
    margin: 30px auto 0;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    h1 {
        margin-bottom: 20px;
    }
    p {
        font-size: 1.2em;
        margin-bottom: 20px;
    }
}

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .table-cell {
        display: grid;
        grid-template-columns: 3fr repeat(2, 2fr) repeat(2, 1fr);
        padding: 10px;
    }
}
.points-table {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .point-cell {
        display: grid;
        grid-template-columns: 2fr 1fr;
        text-align: left;
    }
}
.pagination {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    button {
        background-color: rgb(33, 48, 10);
        color: white;
        padding: 5px 10px;
        margin: 0 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    .load {
        margin: 0.5em;
        height: 1.5em;
        width: 1.5em;
        animation: rotate infinite 1.5s;
    }
    .sq1 {
        background: red;
    }
    .sq2 {
        background: orange;
    }
    .sq3 {
        background: blue;
    }
}

.groups {
    width: 50vw;
    margin: 30px auto;
    display: block;
}
.links {
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    color: white;
}
.remove {
    background-color: red;
}
.remove:hover {
    background-color: orange;
}

.btn {
    margin-bottom: 15px;
    padding: 12px 20px;
    text-decoration: none;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
}
.btn:hover {
    background-color: #0056b3;
}